.statistic{

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 200px;

}

svg > path{
    border: 2px solid black;
}

svg > g >path:hover {
    fill: #3b9a9f;
    transition: 0.1s all ease;
}