<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
    <script>
      var status = '<%- JSON.stringify(status) %>';
      if (JSON.parse(status) == 'verified') {
        if (confirm('Do u want to login?')) {
          window.location.href = 'http://localhost:3000/';
        }
      }
    </script>
    <style>
      body {
        font-family: 'Montserrat', sans-serif;

        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
      }

      .container {
        padding: 30px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
      }

      h2{
        color: #FFC100;
      }

      form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3px;
      }

      input {
        width: 200px;
        padding: 10px;
        border: 1px solid #E0E9FF;
        background-color: #E0E9FF;
        border-radius: 10px;
        outline: none;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
      }

      input:focus{
        border: 1px solid #FFC100;
        outline: 1px solid #FFC100;
      }

      .button-34 {
        background: #FFC100;
        border-radius: 999px;
        box-shadow: #FFC100 0 10px 20px -10px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        font-family: Inter, Helvetica, 'Apple Color Emoji', 'Segoe UI Emoji',
          NotoColorEmoji, 'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji',
          EmojiSymbols, -apple-system, system-ui, 'Segoe UI', Roboto,
          'Helvetica Neue', 'Noto Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 6px 38px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2><%= email %></h2>
      <form method="post">
        <input
          type="password"
          name="password"
          placeholder="Enter new password..."
          id="password"
        /><br />
        <input type="submit" class="button-34" value="Сhange" />
      </form>
    </div>
  </body>
</html>
